body {
    background-color: #1e1e2e; /* Catppuccin Mocha base color */
    color: #cdd6f4; /* Catppuccin Mocha text color */
    font-family: 'Source Code Pro', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.terminal {
    background-color: #181825; /* Slightly darker for terminal effect */
    border-radius: 5px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.prompt {
    display: flex;
    align-items: center;
}

.user {
    color: #96CDFB; /* Catppuccin Mocha blue */
}

.symbol {
    color: #F5C2E7; /* Catppuccin Mocha pink */
}

.output {
    margin-left: 1.5em;
    margin-bottom: 1em;
}

a {
    color: #ABE9B3; /* Catppuccin Mocha green */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
